$form-background: #f9f9f9;
$primary-color: #619c5f;
$secondary-color: #20531f;
$border-radius: 7px;
$padding: 20px;

.form-container {
  max-width: 850px;
  margin: 40px auto 0;
  background-color: $form-background;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease;
  margin-bottom: 100px;

  .title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24px;
    color: $secondary-color;
    margin-bottom: 20px;
  }
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: $secondary-color;
}

.form-input {
  width: 350px;
  padding: 12px;
  border: 2px solid $secondary-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
  }

  margin: 0 auto;
  display: block;
  margin-left: 15px;
  margin-bottom: 20px; 
}

.form-button {
  width: 50%;
  padding: 12px;
  background-color: $primary-color;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 200px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.form-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
}